/* 
Style for airbnb
Date - 23/11/2015
Created - Aspiremax
Designer - Rizwan
*/

@charset "utf-8";
.norm_nav {
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 0;
}
.padd_lf_rg_20 {
    padding-left: 20px;
    padding-right: 20px;
}
.font_norm {
    font-weight: normal;
}
.norm_nav > #navbar > .navbar-nav > li > a {
    border-left: 1px solid #ebebeb;
    color: #333 !important;
    padding-bottom: 19px !important;
    padding-top: 19px !important;
}
.navbar-header .navbar-brand {
    padding: 0 !important;
}
.norm_nav .navbar-brand img {
    border-right: 1px solid #ebebeb;
    margin: 0;
    padding: 14px 18px 19px 10px;
}
.over_input {
    bottom: 0;
    color: #b0b0b0;
    font-size: 22px;
    left: 7px;
    margin-bottom: 9px;
    position: absolute;
}
.airfcfx-manage-label
{
	width:100%;
}
.search_sec {
    margin-left: 15px;
    margin-top: 13px;
    width: 500px;
}
.split_cell_1, .split_cell_2  {
    float: left;
    width: 60%;
}
.bg_white{
	background-color:#fff;
}
.split_cell_2 {
    position: relative;
    width: 40%;
}
.airfcfx-search-checkbox-text
{
	padding-left: 20px;
}
.airfcfx-search-listing-name
{
	width:78% !important;
}
.search_sec input, .search_sec input:focus {
    border: medium none;
    box-shadow: none;
    padding-left: 36px;
}
.norm_nav li:first-child a {
    border: none;
}
.banner1 {
    background-position: center top;
    background-size: cover;
    padding-bottom: 70px;
    padding-top: 70px;
	cursor:pointer;
}
.banner1 .container{
    padding-left: 100px;
    padding-right: 100px;
}
.banner1 .container input {
    height: auto;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-top: 20px;
}
.banner1 i {
    font-size: 45px;
    margin-left: 10px;
    margin-top: 6px;
    position: absolute;
    top: 0;
	color: #ccc;
}
.bg_gray {
    background-color: #565a5c;
    color: #fff;
}
.help_cnt {
    border-bottom: 5px solid #cacccd;
    display: inline-block;
    font-size: 16px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.list_one a {
    color: #333;
    text-decoration: none;
}
.list_one li {
    padding-bottom: 5px;
    padding-top: 5px;
}
.list_one a:hover li {
    color: #909090;
}
.bg_gray1{
	background-color:#F5F5F5;
}
.box1 {
    background-color: #fff;
    border: 3px solid #efefef;
    padding-bottom: 20px;
    padding-top: 10px;
}
.text_gray {
    color: #b9b9b9;
}
.text_black {
    color: #000;
}

.rm_text_deco {
    color: #333;
    text-decoration: none !important;
}
.rm_text_deco:hover
{
	color:#fe5571 ! important;
}
.rm_text_deco > li:hover
{
	color:#fe5571 ! important;
}
.grid_box {
    background-color: #fff;
    border: 1px solid #ccc;
    height: 185px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
}

.grid_box i {
    color: #ff5a5f;
    margin-bottom: 20px;
}
.border_bottom {
    border-bottom: 1px solid #dce0e0;
    padding-bottom: 5px;
}
.border {
    border: 3px solid #ccc;
}
.padd_5_10{
	padding:5px 10px;
}
.tooltip_text {
    background-color: #FFEDE9;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 2px #d3d3d3;
    font-family: "Lato",sans-serif;
    left: 0;
    line-height: 17px;
    margin-left: 18px;
    margin-top: -20px;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 200px;
    z-index: 3;
	display:none;
}
.tooltip_text b {
    display: block;
    margin-bottom: -10px;
    margin-top: 10px;
}
.hover_tool:hover .tooltip_text{
	display:block;
}

.tooltip_text:after, .tooltip_text:before{
	right: 100%;
	top: 0;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.tooltip_text:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #FFEDE9;
	border-width: 8px;
	margin-top: 17px;
}
.tooltip_text:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #000;
	border-width: 8px;
	margin-top: 17px;
}
@media (max-width: 900px) {
	.tooltip_text:after, .tooltip_text:before{
		left: 100%;
	}
	.tooltip_text:after {
		border-left-color: #FFEDE9;
	}
	.tooltip_text:before {
		border-left-color: #000;
	}
	.tooltip_text {
		right:0;
	}
}
.brwn_btn {
    f: 9px !important;
    margin-top: 13px !important;
    position: absolute;
    right: 0;
}
.brwn_btn + label {
    background-color: #edefed;
    border: 1px solid #ccc;
    color: #565a5c;
    font-weight: normal;
    height: 40px;
    padding-left: 10px;
    padding-top: 10px;
    width: 100%;
}
.border_bottom2 {
    border-bottom: 1px solid #eeeeee;
}
.bg_img {
    background-position: center center;
    background-size: cover;
    height: 210px;
    position: relative;
}
.bg_img1 {
    background-size: cover;
    border:2px solid #fff;
    border-radius: 50%;
    bottom: 0;
    height: 56px;
    margin-bottom: -25px;
    margin-right: 15px;
    position: absolute;
    right: 0;
    width: 56px;
    z-index: 1;
}
.fa-1x {
    font-size: 17px;
}
.margin_left10{
	margin-left:10px;
}
.text_gray1 {
    color: #82888a;
}
.price {
    background-color: rgba(60, 63, 64, 0.9);
    bottom: 0;
    color: #fff;
    margin-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    position: absolute;
    z-index: 1;
}
.favorite {
    color: #fff;
    cursor: pointer;
    font-size: 35px;
    margin-right: 10px;
    margin-top: 10px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.fav_bg {
    color: #000;
    left: 0;
    opacity: 0.5;
    position: absolute;
    z-index: -1;
    top: 8px;
}
.favorite:hover .fav_bg {
    opacity: 1;
    transition-duration: 0.5s;
    transition-property: all;
}
.carousel-control {
    display: none;
}
.carousel:hover .carousel-control {
    display: block;
}
.wishli
{
	cursor:pointer;
}
.over_bg_img1 {
    background-position: center center;
    background-size: cover;
    bottom: 0;
    height: 30px;
    margin-bottom: -17px;
    position: absolute;
    right: 0;
    width: 16px;
    z-index: 1;
}
.pagination .active a, .pagination .active a:hover{
    background-color: #edefed;
    border: 1px solid #ccc;
    color: #333;
}
.pagination li:last-child a {
    
}
.non_btn > a {
    background-color: transparent !important;
    border: medium none !important;
    color: #000 !important;
    font-size: 19px;
}
.padd_bottom30 {
    padding-bottom: 30px;
}
.split_cell_1 {
    height: 92vh;
    overflow-y: scroll;
}
.over_map {
    background-color: #ffffff;
    bottom: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    position: absolute;
    width: 100%;
}
.pointer {
    cursor: pointer;
}
.toggle_foot1 {
    bottom: -100%;
    visibility:hidden;
    position: absolute;
    transition-duration: 0.3s;
    transition-property: all;
    width: 100%;
    z-index: 10;
}
.foot_ads {
    bottom: 0;
    visibility:visible;
}
.close_x {
    bottom: 0;
    position: absolute;
    right: 0;
}
.scroll_hid{
	overflow:hidden;
}
.over_bg_img2 {
    background-repeat: no-repeat;
    background-size: 11px 19px;
    font-weight: bold;
    padding-left: 16px;
}
.super_host > p {
    display: inline-block;
    margin-left: 12px;
}
.super_host p:last-child {
    margin-left: 30px;
}
.accor_adj .panel-default {
    border: none;
	 box-shadow: none;
}
.accor_adj .panel-heading {
    background-color: transparent;
	padding: 0;
}
.acor_nav {
    color: #333 !important;
    font-size: 25px;
    position: absolute;
    right: 0;
}
.accor_adj .panel-body {
    border:  none !important;
	padding: 0;
}
.padd_top15 {
    padding-top: 15px;
}
.margin_top_5 {
    margin-top: 5px;
}
.filter_menu,.filter_menu5{
    display: none;
}
.filter_menu3 {
    height: 92vh;
}
.bottom_filter {
    bottom: 0;
    position: absolute;
    right: 0;
}
.bottom_filter {
    background-color: #fff;
    bottom: 0;
    left: 0;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-top: 10px;
    position: fixed;
    text-align: right;
    width: 60%;
    z-index: 1;
	display:none;
}

.filter_menu_btn {
    padding-bottom: 10px;
    padding-top: 10px;
    width: 200px;
}
.banner2{
	height:25em;
	background-position:center;
	background-size:cover;
	cursor:pointer;
}
.profile {
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.table1 {
    display: table;
    width: 100%;
}
.tab_cel {
    display: table-cell;
}
.padding5 {
    padding: 5px;
}
.full_width {
    width: 100%;
}
.bg_black {
    background-color: #333;
    color: #fff;
}
.margin_bottom0{
	margin-bottom:0;
}
.margin_adj {
    margin-top: -43px;
}
.fb_btn{
	background-color:#3b5998;
	color:#FFF;
}
.border_right {
    border-right: 1px solid #ccc;
}
.text_black{
	color:#333 !important;
}
.row_lf_rg_rm {
    margin-left: -15px;
    margin-right: -15px;
}
.padd_lf_rg_15 {
    padding-left: 15px;
    padding-right: 15px;
}

.fixed {
    position: fixed;
    top: 45px;
    width: 20%;
    z-index: 1;
}
.header_top_invidual {
    background-color: #565a5c;
	display:none;
}

.filter_menu1{
	display:block;
}

.map span {
    display: block;
    margin-top: -400px;
    padding-bottom: 400px;
}
.fixed_rm{
	position:absolute;
}
.owl-item {
    padding-right: 10px;
}
.owl-item {
    width: 33.33%;
}
.prev.pointer, .next.pointer {
    position: absolute;
    top: 33%;
}
.prev.pointer {
    margin-left: -30px;
}
.next.pointer {
    margin-right: -30px;
    right: 0;
}
.menu_bg {
    /*background-position: center top;
    border: medium none !important;
    height: 95px;
background: -moz-linear-gradient(top, rgba(0,0,0,0.70) 0%, rgba(0,0,0,0) 100%); 
background: -webkit-linear-gradient(top, rgba(0,0,0,0.70) 0%,rgba(0,0,0,0) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0.70) 0%,rgba(0,0,0,0) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); 
*/
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0;
    border: medium none !important;
    height: 95px;
}
.menu_bg .navbar-nav a:hover {
    background-color: rgba(0, 0, 0, 0.24) !important;
    color: #fff !important;
}
.navbar-nav > li.open > ul > a > li:hover
{
	color:#333;
}
.scroll {
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.help_padd a {
    padding: 0 !important;
}
.help_padd p {
    border-top: 1px solid #ccc;
    color: #ff5a5f;
    padding: 10px 15px;
}
.rm_text_deco1:hover {
    text-decoration: none;
}

#About, #review, #host, #location , .fix_pls_span {
    display: block;
    margin-top: -100px;
    padding-bottom: 100px;
}
.fixed1 .fix_pls_span
{
   margin-bottom: -100px !important;
   margin-top: 0 !important;
}
.header_top_invidual a {
    display: inline-block;
    padding: 13px 0;
}
.header_adj {
    padding: 0px 20px;
}
.fixed1 {
    position: fixed;
    top: 67px;
    width: 59%;
    z-index: 100;
}
.fix_pls.fixed1 .row {
    border-bottom: 1px solid #bababa;
    padding-bottom: 10px;
}
.review_tab .active a, .review_tab .active a:hover, .review_tab  a {
    background-color: transparent !important;
    border: none !important;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.profile_pict {
    display: block;
    height: 50px;
    width: 50px;
}
.padd_right_60 {
    padding-right: 60px !important;
}
.profile_pict {
    background-position: center center;
    background-size: cover;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: block;
    height: 40px;
    margin-right: 10px;
    margin-top: 12px;
    right: 0;
    top: 0;
    width: 40px;
}
.profil_menu {
    width: 300px;
}
.padd0 {
    padding: 0 !important;
}
.notifi_up {
    background-color: #fff;
    border: 2px solid #ff5a5f;
    border-radius: 50%;
    color: #ff5a5f;
    font-size: 11px;
    letter-spacing: -1px;
    margin-top: 8px;
    padding-top: 0;
    text-align: center;
    top: 0;
    width: 23px;
}
.profile_left .active a, .profile_left .active a:hover {
    color: #333;
}
.cancel_acc, .cancel_acc_btn1 {
	display:none;
}
.table_no_border td, .table_no_border th{
	border:none !important;
}
.profile_head_menu .active a {
    border-bottom: 4px solid #ccc;
    color: #fff;
    padding-bottom: 8px;
}
.wrdwrp
{
	word-wrap: break-word;
}

@media (max-width: 900px) {
  .text-right {
    text-align: left;
  }
  .address2
  {
  	margin-left:0px;
  }
  .invite-new .email-frm,.invite-new .email-frm.focus
  {
  	width:auto;
  }
  #oldpassword,#newpassword,#confirmpassword
  {
  	width:100% !important;
  }
  .col-sm12
  {
  	width:100% !important;
  }
  .editlistdiv
  {
  	margin-left:15px;
  	width:92% !important;
  }
  .editlist
  {
  	margin-left:35px;
  }
  .imgleft
  {
  	text-align:left;
  }
  .helpdiv
  {
  	width:100% !important;
  }
  .nopad
  {
  	padding-left:0px;
  }
  .imgwdth
  {
  	width:16%;
  }
  .namewdth
  {
  	width:66%;
  }
  .msgwdth
  {
  	width:100%;
  }
  .txtarea
  {
  	width:52%;
  }
  .claimrighttextdiv
  {
  	width:85%;
  }
  .sdecls
  {
  	width:100% !important;
  }
  .alwaysdiv,.daterightdiv,.dateleftdiv,.bookinggrid
  {
  	width:100% !important;
  }
}


@media(min-width:320px) and (max-width:767px)
{
.tooltip_text
{
	left:-230px;
	margin-top:-11px;
}
}

@media(min-width:1024px) and (max-width:1279px)
{

.search_sec
{
	width:450px;
}

}
