/* Fonts Imported from Google */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

/*   Core: General style
----------------------------*/
html, body {
    background: none repeat scroll 0 0 #ebebeb;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    transition: all .25s ease-out;
    font-family: Lato, sans-serif !important;
}

/* Layouts */
.wrapper {
    min-height: 100%;
}

.statustextactive {
    color:#01BC12;
    font-weight: bold;
    font-size: 14px;
}
.statustextpending {
    color:#BC0126;
    font-weight: bold;
    font-size: 14px;
}

.statustextnoapproval {
    color:#31B0D5;
    font-weight: bold;
    font-size: 14px;
}
.wrapper:before, .wrapper:after {
    display: table;
    content: " ";
}

.wrapper:after {
    clear: both;
}

/* Header */
body > .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    background: #f1f1f1;
}

/* Define 2 column template */
.right-side, .left-side {
    min-height: 100%;
    display: block;
}

/*right side - contins main content*/
.right-side {
    margin-left: 250px;
}

/*left side - contains sidebar*/
.left-side {
    position: absolute;
    width: 250px;
    top: 0;
}

.left-side .sidebar-offcanvas a {
    padding: 0;
    margin: 0;
    vertical-align: top;
}

@media screen and (min-width: 992px) {
    .left-side {
        top: 50px;
    }

    /*Right side strech mode*/
    .right-side.strech {
        margin-left: 0;
    }

    .right-side.strech > .content-header {
        margin-top: 0;
    }

    /* Left side collapse */
    .left-side.collapse-left {
        left: -250px;
    }
}

/*Give content full width on xs screens*/
@media screen and (max-width: 992px) {
    .right-side {
        margin-left: 0;
    }
}

/* H1 - H6 font */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Noto Sans', serif;
}

a, a:hover, li.active a {
    text-decoration: none !important;
}

.content-header h1 {
    font-size: 22px;
    line-height: 1.5;
}

/* Page Header */
.page-header {
    margin: 10px 0 20px 0;
    font-size: 22px;
}

/* Josh Style starts here ----- */
.responsive_nav {
    margin-top: -8px;
    background: url(../../img/nav_icon.png);
    width: 25px;
    height: 17px;
}

.nav_icons ul {
    margin: 0;
    padding-left: 29px;
    padding-top: 10px;
}

.nav_icons li {
    float: left;
    list-style: none;
    cursor: pointer;
    padding: 5px 9px;
}

.clear {
    clear: both;
}

.fa-plus, .fa-minus {
    font-size: 10px;
}

.nopadmar {
    margin: 0;
    padding: 0;
}

body > .header .navbar .sidebar-toggle {
    float: left;
    padding: 9px 5px;
    margin-top: 8px;
    margin-right: 0;
    margin-bottom: 8px;
    margin-left: 5px;
    color: #f9c3c3;
    border: 1px solid transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.navbar-nav > li > a {
    line-height: 20px;
    padding-bottom: 0;
    padding-top: 10px;
}

.left-side li a {
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0.1em;
    font-size: 14px;
}

.left-side li a i {
    padding-top: 2px;
}

.right-side > .content-header > .breadcrumb a {
    color: #333;
}

/* skin-josh logo */
.skin-josh .logo {
    background-color: #515763;
}

.skin-josh .logo > h1 {
    margin-top: 0;
    font-size: 40px;
    letter-spacing: 0.1em;
    color: #fff;
    text-shadow: 4px 4px 4px #888;
}

/* skin-josh content header */
.skin-josh .right-side > .content-header {
    background: #f1f1f1;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid #d0d0d0;
    min-height: 54px;
    height: auto;
    margin-bottom: 20px;
}

.skin-josh .right-side > .content-header h1 {
    color: #333;
    -webkit-font-smoothing: antialiased;
}

/*
   Components: navbar, logo and content header
-------------------------------------------------
*/
body > .header {
    position: relative;
    z-index: 1030;
}

body > .header .navbar {
    height: 50px;
    margin-bottom: 0;
    margin-left: 250px;
}

body > .header .navbar .sidebar-toggle {
    float: left;
    padding: 15px 10px 10px 10px;
    margin-top: 8px;
    margin-right: 0;
    margin-bottom: 8px;
    margin-left: 5px;
    background-color: #444954;
    background-image: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

body > .header .navbar .nav > li > a > .label {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 10px;
    font-weight: normal;
    width: 15px;
    height: 15px;
    line-height: 1.0em;
    text-align: center;
    padding: 2px;
}

body > .header .navbar .nav > li > a:hover > .label {
    top: 3px;
}

body > .header .logo {
    display: block;
    float: left;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    text-align: center;
    width: 250px;
}

body > .header .logo .icon {
    margin-right: 10px;
}

.right-side > .content-header {
    position: relative;
    padding: 10px;
}

.right-side > .content-header > h1 {
    margin: 0;
}

.right-side > .content-header > h1 > small {
    font-size: 15px;
    display: inline-block;
    padding-left: 4px;
    font-weight: 300;
}

.right-side > .content-header > .breadcrumb {
    float: right;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    font-family: Lato, sans-serif;
    padding: 7px 5px;
    position: absolute;
    top: 15px;
    right: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.right-side > .content-header > .breadcrumb > li > a {
    color: #444;
    text-decoration: none;
}

.right-side > .content-header > .breadcrumb > li > a > .fa, .right-side > .content-header > .breadcrumb > li > a > .glyphicon, .right-side > .content-header > .breadcrumb > li > a > .ion {
    margin-right: 5px;
}

.right-side > .content-header > .breadcrumb > li + li:before {
    content: '\00BB';
    font-size: 16px;
    color: #000;
}

@media screen and (max-width: 767px) {
    .right-side > .content-header > .breadcrumb {
        position: relative;
        margin-top: 5px;
        top: 0;
        right: 0;
        float: none;
    }
}

@media (max-width: 767px) {
    .navbar .navbar-nav > li {
        float: left;
    }

    .navbar-nav {
        margin: 0;
        float: left;
    }

    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 20px;
    }

    .navbar .navbar-right {
        float: right;
    }
}

@media screen and (max-width: 560px) {
    body > .header {
        position: relative;
    }

    body > .header .logo, body > .header .navbar {
        width: 100%;
        float: none;
        position: relative;
    }

    body > .header .navbar {
        margin: 0;
    }

    body.fixed > .header {
        position: fixed;
    }

    body.fixed > .wrapper, body.fixed .sidebar-offcanvas {
        margin-top: 100px;
    }
}

/*
   Component: Sidebar
--------------------------
*/
.sidebar {
    margin-bottom: 5px;
}

.sidebar .sidebar-form input:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: transparent;
}

.sidebar .sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar .sidebar-menu > li {
    border-bottom: 1px solid #676767;
    margin: 0;
    padding: 0;
}

.sidebar .sidebar-menu > li > a {
    padding: 15px 9px 15px 15px;
    display: block;
}

.sidebar .sidebar-menu > li > a > .fa, .sidebar .sidebar-menu > li > a > .glyphicon, .sidebar .sidebar-menu > li > a > .ion {
    width: 20px;
}

.sidebar .sidebar-menu .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar .sidebar-menu .treeview-menu > li {
    margin: 0;
    background: #333;
}

.sidebar .sidebar-menu .treeview-menu > li > a {
    padding: 5px 5px 5px 15px;
    display: block;
    font-size: 14px;
    margin: 0;
}

.sidebar .sidebar-menu .treeview-menu > li > a > .fa, .sidebar .sidebar-menu .treeview-menu > li > a > .glyphicon, .sidebar .sidebar-menu .treeview-menu > li > a > .ion {
    width: 20px;
}

.user-panel {
    padding: 10px;
}

.user-panel:before, .user-panel:after {
    display: table;
    content: " ";
}

.user-panel:after {
    clear: both;
}

.user-panel > .image > img {
    width: 45px;
    height: 45px;
}

.user-panel > .info {
    font-weight: 600;
    padding: 5px 5px 5px 15px;
    font-size: 14px;
    line-height: 1;
}

.user-panel > .info > p {
    margin-bottom: 9px;
}

.user-panel > .info > a {
    text-decoration: none;
    padding-right: 5px;
    margin-top: 3px;
    font-size: 11px;
    font-weight: normal;
}

.user-panel > .info > a > .fa, .user-panel > .info > a > .ion, .user-panel > .info > a > .glyphicon {
    margin-right: 3px;
}

/*
* Off Canvas
* --------------------------------------------------
*  Gives us the push menu effect
*/
@media screen and (max-width: 992px) {
    .relative {
        position: relative;
    }

    .row-offcanvas-right .sidebar-offcanvas {
        right: -250px;
    }

    .row-offcanvas-left .sidebar-offcanvas {
        left: -250px;
    }

    .row-offcanvas-right {
        right: 250px;
    }

    .row-offcanvas-left {
        left: 250px;
    }

    .sidebar-offcanvas {
        left: 0;
    }

    body.fixed .sidebar-offcanvas {
        margin-top: 50px;
        left: -250px;
    }

    body.fixed .row-offcanvas-left .navbar {
        left: 250px;
        right: 0;
    }

    body.fixed .row-offcanvas-left .sidebar-offcanvas {
        left: 0;
    }
}

/*
   Dropdown menus
----------------------------
*/
/*Dropdowns in general*/
.dropdown-menu {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    z-index: 2300;
}

.dropdown-menu > li > a > .glyphicon, .dropdown-menu > li > a > .fa, .dropdown-menu > li > a > .ion {
    margin-right: 10px;
}

.dropdown-menu > li > a:hover {
    background-color: #3c8dbc;
    color: #f9f9f9;
}

/*Drodown in navbars*/
.skin-blue .navbar .dropdown-menu > li > a {
    color: #444444;
}

/*
   Navbar custom dropdown menu
------------------------------------
*/
.navbar-nav > .notifications-menu > .dropdown-menu, .navbar-nav > .messages-menu > .dropdown-menu, .navbar-nav > .tasks-menu > .dropdown-menu {
    width: 250px;
    padding: 0 0 0 0;
    margin: 0;
    margin-top: -3px;
    top: 100%;
    border: 1px solid #dfdfdf;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li.header, .navbar-nav > .messages-menu > .dropdown-menu > li.header, .navbar-nav > .tasks-menu > .dropdown-menu > li.header {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #ffffff;
    padding: 7px 10px;
    border-bottom: 1px solid #676767;
    color: #444444;
    font-size: 14px;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li.header:after, .navbar-nav > .messages-menu > .dropdown-menu > li.header:after, .navbar-nav > .tasks-menu > .dropdown-menu > li.header:after {
    bottom: 100%;
    left: 92%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 7px;
    margin-left: -7px;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a, .navbar-nav > .messages-menu > .dropdown-menu > li.footer > a, .navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a {
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 12px;
    background-color: #f4f4f4;
    padding: 7px 10px;
    color: #444444;
    text-align: center;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a:hover, .navbar-nav > .messages-menu > .dropdown-menu > li.footer > a:hover, .navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a:hover {
    background: #f4f4f4;
    text-decoration: none;
    font-weight: normal;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu, .navbar-nav > .messages-menu > .dropdown-menu > li .menu, .navbar-nav > .tasks-menu > .dropdown-menu > li .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a, .navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a, .navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a {
    display: block;
    white-space: nowrap;
    /* Prevent text from breaking */

    border-bottom: 1px solid #eee;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a:hover, .navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:hover, .navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a:hover {
    text-decoration: none;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
    font-size: 12px;
    color: #444444;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon, .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa, .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion {
    font-size: 20px;
    width: 50px;
    text-align: center;
    padding: 15px 0;
    margin-right: 5px;
    background: #00c0ef;
    color: #f9f9f9;
    color: rgba(255, 255, 255, 0.7);
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon.danger, .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa.danger, .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion.danger {
    background: #f56954;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon.warning, .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa.warning, .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion.warning {
    background: #F89A14;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon.success, .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa.success, .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion.success {
    background: #01BC8C;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon.info, .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa.info, .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion.info {
    background: #00c0ef;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a {
    margin: 0;
    line-height: 20px;
    padding: 10px 5px 10px 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > div > img {
    margin: auto 10px auto auto;
    width: 40px;
    height: 40px;
    border: 1px solid #dddddd;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 {
    padding: 0;
    margin: 0 0 0 45px;
    color: #444444;
    font-size: 15px;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 > small {
    color: #999999;
    font-size: 10px;
    float: right;
    margin-top: -7px;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > p {
    margin: 0 0 0 45px;
    font-size: 12px;
    color: #888888;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:before, .navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:after {
    display: table;
    content: " ";
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:after {
    clear: both;
}

.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a {
    padding: 10px;
}

.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a > h3 {
    font-size: 14px;
    padding: 0;
    margin: 0 0 10px 0;
    color: #666666;
}

.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a > .progress {
    padding: 0;
    margin: 0;
}

.navbar-nav > .user-menu > .dropdown-menu {
    padding: 0;
    margin-top: -6px;
    border-radius: 4px;
}

.navbar-nav > .user-menu > .dropdown-menu:after {
    bottom: 100%;
    right: 10px;
    border: solid rgba(255, 255, 255, 0);
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: 140px;
    padding: 6% 6% 6% 22%;
    background: #3c8dbc;
    text-align: center;
}

.topprofiletext {
    margin-left: -18px !important;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
    z-index: 5;
    height: 90px;
    width: 90px;
    border: 8px solid;
    border-color: rgba(255, 255, 255, 0.2);
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
    z-index: 5;
    color: #f9f9f9;
    color: rgba(255, 255, 255, 0.8);
    font-size: 17px;
    margin-top: 10px;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p > small {
    display: block;
    font-size: 12px;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-body {
    padding: 15px;
    border-bottom: 1px solid #f4f4f4;
    border-top: 1px solid #dddddd;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-body:before, .navbar-nav > .user-menu > .dropdown-menu > li.user-body:after {
    display: table;
    content: " ";
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-body:after {
    clear: both;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-body > div > a {
    color: #0073b7;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-footer {
    padding: 10px;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-footer:before, .navbar-nav > .user-menu > .dropdown-menu > li.user-footer:after {
    display: table;
    content: " ";
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-footer:after {
    clear: both;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-footer .btn-default {
    color: #666666;
}

/* Add fade animation to dropdown menus */
.open > .dropdown-menu {
    animation-name: fadeAnimation;
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    -webkit-animation-name: fadeAnimation;
    -webkit-animation-duration: .7s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: fadeAnimation;
    -moz-animation-duration: .7s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards;
}

@keyframes fadeAnimation {
    from {
        opacity: 0;
        top: 120%;
    }
    to {
        opacity: 1;
        top: 100%;
    }
}

@-webkit-keyframes fadeAnimation {
    from {
        opacity: 0;
        top: 120%;
    }
    to {
        opacity: 1;
        top: 100%;
    }
}

/* Fix dropdown menu for small screens to display correctly on small screens */
@media screen and (max-width: 767px) {
    .navbar-nav > .notifications-menu > .dropdown-menu, .navbar-nav > .user-menu > .dropdown-menu, .navbar-nav > .tasks-menu > .dropdown-menu, .navbar-nav > .messages-menu > .dropdown-menu {
        position: absolute;
        top: 100%;
        right: 0;
        left: auto;
        border-bottom: 1px solid #dddddd;
        border-left: 1px solid #dddddd;
        background: #ffffff;
    }
}

/* Fix menu positions on xs screens to appear correctly and fully */
@media screen and (max-width: 480px) {
    .navbar-nav > .notifications-menu > .dropdown-menu > li.header, .navbar-nav > .tasks-menu > .dropdown-menu > li.header, .navbar-nav > .messages-menu > .dropdown-menu > li.header {
        /* Remove arrow from the top */
    }

    .navbar-nav > .notifications-menu > .dropdown-menu > li.header:after, .navbar-nav > .tasks-menu > .dropdown-menu > li.header:after, .navbar-nav > .messages-menu > .dropdown-menu > li.header:after {
        border-width: 0;
    }

    .navbar-nav > .tasks-menu > .dropdown-menu {
        position: absolute;
        right: -120px;
        left: auto;
    }

    .navbar-nav > .notifications-menu > .dropdown-menu {
        position: absolute;
        right: -87px;
        left: auto;
    }

    .navbar-nav > .messages-menu > .dropdown-menu {
        position: absolute;
        right: -100px;
        left: auto;
    }
}

.dropdown-menu .menu i {
    display: inline-block;
    margin: 4px 12px;
    float: left;
    padding: 10px 30px 30px 10px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #eee;
}

.dropdown-menu .menu a {
    line-height: 54px;
}

.dropdown-menu .header {
    background: #1d1d1d !important;
    color: #FFF !important;
}

.mesages li img {
    width: 46px;
    padding-top: 5px;
    height: auto;
    float: left;
    margin-right: 15px;
}

.mesages li {
    padding: 5px;
    cursor: pointer;
}

.mesages li span {
    font-size: 12px;
    display: inline-block;
    clear: both;
    float: none;
}

.mesages li .samp {
    font-family: Lato, sans-serif;
    font-size: 11px;
    clear: both;
    margin-top: -3px;
}

.mesages li .time {
    font-size: 11px;
    color: #666;
    margin-top: -3px;
}

.notifications-menu small {
    clear: both !important;
    top: 0 !important;
    margin-top: -48px;
    padding-top: 0;
    padding-right: 10px;
    display: inline-block;
}

.message .message-image {
    display: block;
    float: left;
    width: 45px;
    height: 45px;
    margin-right: 15px;
    text-align: center;
    padding-top: 3px;
}

.message .message-body {
    overflow: hidden;
    zoom: 1;
    line-height: 16px;
}

.message-body small {
    font-size: 11px;
}

.paddingright_10 {
    padding-right: 5px;
}

.message-body strong {
    font-size: 12px;
}

.message-body {
    font-size: 11px;
}

.message-body small {
    font-size: 9px;
}

li.dropdown-title {
    padding: 010px;
    background: #f1f1f1;
    border-bottom: 1px solid #ccc;
}

.slimScrollDiv .menu li {
    width: 100%;
    font-size: 12px;
    display: inline-block;
}

li.dropdown-footer {
    padding: 010px;
    background: #f1f1f1;
    border-bottom: 1px solid #ccc;
}

.success {
    background-color: #00bc8c;
}

.padding-15 {
    padding: 15px !important;
}

.dropdown-menu .message a {
    padding: 3px 6px;
}

.dropdown-menu li > .message {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    padding-top: 3px;
}

.dropdown-menu .footer {
    margin: 0;
    padding: 0;
    border-bottom: none;
}

.dropdown-menu .message:hover {
    background: #e0e0e0 !important;
}

.message .ol {
    padding: 5px;
    padding-right: 10px;
}

.message .ol:hover {
    color: #090;
}

.dropdown-menu:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(255, 255, 255, 0);
    border-image: none;
    border-style: solid;
    border-width: 10px;
    bottom: 100%;
    content: " ";
    height: 0;
    margin-left: -10px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    width: 0;
}

.navbar-right .nav > li > a {
    position: relative;
    display: block;
    padding: 8px 7px;
}

.btn-primary, .primary {
    background: #428BCA;
}

.btn-success, .success {
    background: #01BC8C;
}

.btn-warning, .warning {
    background: #F89A14;
}

.btn-danger, .danger {
    background: #f56954;
}

.paddingrightleft_10 {
    padding-left: 15px;
    padding-right: 15px;
}

.paddingtopbottom_5px {
    padding-bottom: 5px;
    padding-top: 5px;
}

.dropdown > .messages-menu > .open {
    background: #FFF !important;
}

.arrow {
    float: right;
}

.plus-minus {
    float: right;
}

.sidebar_threeicons li a, .sidebar_threeicons li {
    border-top: 2px;
}

.sidebar_threeicons li a {
    padding: 10px;
}

.sidebar_threeicons li {
    padding: 0;
    margin: 0 3px;
}

/* Page Sidebar */
.page-sidebar.navbar-collapse, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover.navbar-collapse {
    padding: 0;
    box-shadow: none;
}

.page-sidebar .page-sidebar-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0; /* 1st level links *//* all links */
}

.page-sidebar .page-sidebar-menu > li, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}

.page-sidebar .page-sidebar-menu li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > {
    float: right;
    margin-top: -1px;
    margin-right: 5px;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "+";
    font-weight: 300;
    text-shadow: none;
}

.page-sidebar .page-sidebar-menu li > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow.open:before {
    float: right;
    margin-top: -1px;
    display: inline;
    font-family: FontAwesome;
    height: auto;
    font-size: 16px;
    content: "-";
    font-weight: 300;
    text-shadow: none;
}

.page-sidebar .page-sidebar-menu li > a > .badge, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .badge {
    float: right;
    margin-top: 1px;
    margin-right: 0;
    font-weight: normal;
    background-color: #EF6F6C;
}

.page-sidebar .page-sidebar-menu .sub-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu {
    list-style: none;
    display: none;
    padding: 0;
}

.page-sidebar .page-sidebar-menu .sub-menu li, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li {
    background: none;
    margin: 0;
    padding: 0;
    margin-top: 1px !important; /* 2nd level sub menu */
}

.page-sidebar .page-sidebar-menu .sub-menu li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > a {
    display: block;
    margin: 0;
    padding: 10px 15px 10px 36px;
    text-decoration: none;
    font-size: 13px;
    background: none;
}

.page-sidebar .page-sidebar-menu .sub-menu li > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > a > i {
    font-size: 14px;
}

.page-sidebar .page-sidebar-menu .sub-menu li > a .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > a .arrow:before {
    margin-right: 4px;
    font-size: 16px;
}

.page-sidebar .page-sidebar-menu .sub-menu li > a .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > a .arrow.open:before {
    margin-right: 2px;
    font-size: 16px;
}

.page-sidebar .page-sidebar-menu .sub-menu li > .sub-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > .sub-menu {
    margin: 0;
}

.page-sidebar .page-sidebar-menu .sub-menu li > .sub-menu > li, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > .sub-menu > li {
    /* 3rd level sub menu */
}

.page-sidebar .page-sidebar-menu .sub-menu li > .sub-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > .sub-menu > li > a {
    padding-left: 60px;
}

.page-sidebar .page-sidebar-menu .sub-menu li > .sub-menu > li > .sub-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > .sub-menu > li > .sub-menu {
    margin: 0;
}

.page-sidebar .page-sidebar-menu .sub-menu li > .sub-menu > li > .sub-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > .sub-menu > li > .sub-menu > li > a {
    padding-left: 80px;
}

.page-sidebar .page-sidebar-menu li.active > .sub-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active > .sub-menu {
    display: block;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 10px;
    opacity: 0.7;
    z-index: 9999;
}

.navbar-right .nav .open > a, .navbar-right .nav .open > a:hover, .navbar-right .nav .open > a:focus, .navbar-right .nav > li > a:hover, .navbar-right .nav > li > a:focus {
    background-color: #414151;
    border-color: #428bca;
}

.riot {
    color: #fff;
    padding: 15px 4px 5px 45px;
}

.riot .caret {
    margin-top: -10px;
}

.riot span i {
    margin-top: 0 !important;
}

.riot div {
    margin-top: -10px;
}

.message_menu {
    width: auto;
    height: 200px;
    overflow: scroll;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #444;
}

.dropdown-menu:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent;
}

.navbar-nav > .user-menu > .dropdown-menu:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent;
}

/*side bar nav */

.sidebar {
    display: block;
    float: left;
    width: 250px;
}

.content {
    display: block;
    width: auto;
}

.sidebar-nav {
    background: #515763;
}

.sidebar-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar-nav ul li, .sidebar-nav ul a {
    display: block;
}

.sidebar-nav ul a {
    padding: 12px 22px 12px 8px;
    color: #aaa;
    -webkit-font-smoothing: antialiased;
}

.skin-josh .navbar {
    background-color: #515763; /*	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); */
}

.skin-josh .navbar .nav a {
    color: #333;
}

.skin-josh .navbar .nav > li > a:hover, .skin-josh .navbar .nav > li > a:active, .skin-josh .navbar .nav > li > a:focus, .skin-josh .navbar .nav .open > a, .skin-josh .navbar .nav .open > a:hover, .skin-josh .navbar .nav .open > a:focus {
    color: #333;
}

.skin-josh .navbar .navbar-right > .nav {
    margin-right: 10px;
}

.skin-josh .navbar .sidebar-toggle .icon-bar {
    background: #515763;
}

.skin-josh .sidebar .page-sidebar-menu > li {
    border-bottom: 1px solid #515763;
}

.skin-josh .sidebar .page-sidebar-menu > li:hover {
    background: #3a4252;
    border-bottom: 1px solid rgba(54, 60, 70, 0.5);
}

.skin-josh .sidebar > .sidebar-menu > li > a {
    margin-right: 1px;
}

.skin-josh .left-side {
    background: #515763;
    border-right: none;
}

.skin-josh .sidebar a {
    color: #fff;
    font-family: Lato, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}

.skin-josh .sidebar li ul {
    background: #464d5a;
    border-top: 0.08em solid #666;
}

.skin-josh .sidebar li.open a:hover {
    background: #3a4252 !important;
    text-decoration: none !important;
}

.left-side #active {
    background: #32323c !important;
    color: #FFF;
}

.skin-josh .sidebar li.open ul:hover, .skin-josh .sidebar li.open a ul:hover, .skin-josh .sidebar li.open ul li:hover, a, a:hover {
    text-decoration: none !important;
}

.left-side .active {
    background: #414151 !important;
}

#active {
    color: #e0e0e0;
    text-decoration: none;
}

.sidebar li .sub-menu li i {
    padding-right: 10px;
}

.sidebar_threeicons li:hover {
    background: #3a4252;
}

/*dashboard top 4 panels css*/
.squarebox h4 {
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.square_box .number {
    font-size: 30px;
    float: left;
    clear: both;
    margin-top: 0;
    text-align: left;
    font-weight: 700;
}

.square_box span {
    font-size: 12px;
    float: left;
}

.no-radius {
    border-radius: 4px;
}

.lightbluebg {
    background: #418bca;
    color: #FFF;
    font-family: Lato, sans-serif;
    margin: 10px 0;
}

.redbg {
    background: #EF6F6C;
    color: #FFF;
    font-family: Lato, sans-serif;
    margin: 10px 0;
}

.goldbg {
    background: #F89A14;
    color: #FFF;
    font-family: Lato, sans-serif;
    margin: 10px 0;
}

.palebluecolorbg {
    background: #00bc8c;
    color: #FFF;
    font-family: Lato, sans-serif;
    margin: 10px 0;
}

.breadcrumb #active a, .breadcrumb a, .breadcrumb a:hover {
    color: #428bca;
    text-decoration: none;
}

.bg-aqua {
    background: #028482
}

img.flag {
    height: 16px;
    width: 28px;
    padding-right: 10px;
}

.has-error .form-control {
    border-color: #EF6F6C;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.has-error .control-label {
    color: #EF6F6C;
}
.error{
    color:#ef6f6c;
}
.error span{
    color: #ef6f6c;
}
.has-success .form-control {
    border-color: #00bc8c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.has-success .control-label {
    color: #00bc8c;
}

.has-warning .form-control {
    border-color: #F89A14;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.has-warning .control-label {
    color: #F89A14;
}

.panel-heading small {
    line-height: 23px;
    font-size: 12px;
}

.orange_small_squarebox {
    width: 4px;
    height: 0;
    border: 5px solid #F89A14;
    overflow: hidden;
}

.ccc_border {
    border: 1px solid #ccc;
    padding: 1px;
}

.panel-title .ccc_border {
    margin-top: 20px;
}

.panel-border {
    border: 1px solid #ddd;
}

.panel-border .panel-heading {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.white-text {
    color: #fff;
    opacity: 0.7;
}

/* this is for alligining livicon and tab title in same lineheight */
.page-sidebar-menu .livicon {
    float: left;
    margin-top: -2px;
    margin-right: 10px;
}

.list1 {
    border-bottom: 1px solid #ccc;
    display: inline-block;
    width: 100%;
    padding: 2px 5px 1px 3px !important;
    background: #fff;
    float: left;
}

.todoitemjs {
    padding-top: 3px;
}

.text-col {
    color: #fff !important;
}

.btn-success:hover {
    color: #fff;
    background-color: #1bc398;
    border-color: #1bc398;
}

.btn-default:hover {
    color: #fff;
    background-color: #A9B6B1 !important;
    border-color: #A9B6B1 !important;

}

.text-primary {
    color: #428BCA;
}

.text-success {
    color: #01BC8C;
}

.text-warning {
    color: #F89A14;
}

.text-danger {
    color: #f56954;
}


/******* data table  arrows**********/

table.dataTable thead .sorting {
    background:
    url('../../vendors/datatables/images/sort_both.png') no-repeat center right;
    /* sort */
}
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after{
    content:none !important;
}
table.dataTable thead .sorting_desc {
    background:
    url('../../vendors/datatables/images/sort_desc.png') no-repeat center right;
    /* sort-by-attributes-alt */
}
table.dataTable thead .sorting_asc {
    background:
    url('../../vendors/datatables/images/sort_asc.png') no-repeat center right;
    /* sort-by-attributes-alt */
}
/******* data table  arrows end**********/
